* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
header {
    background-color: rgb(255, 241, 89);
}

.headerSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 50px;
}

.headerSuperior a {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.headerSuperior .ayuda i{
    font-size: 20px;
    color: black;
}

/*MAIN*/
main {
    background-color: #eeeaee;
    padding: 50px;
}

/*CONTENEDOR*/
.contenedor {
    background-color: white;
    width: 400px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contenedor img {
    width: 200px;
}

.contenedor h2 {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
}

.contenedor button {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #3483fa;
    border: none;
    display: inline-block;
    width: 200px;
    border: none;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.contenedor button a {
    text-decoration: none;
    color: white;
}

.contenedor .boton_blanco {
    margin-top: 10px;
    background-color: white;
}

.contenedor .boton_blanco a {
    color: #3483fa;
}

.contenedor .boton_blanco a:visited {
    color: #3483fa;
}

/*FOOTER*/
footer {
    margin: 5px 0 10px 0;
    padding: 0 50px;
}

.links_footer {
    padding: 0 0 10px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
}

.links_footer li a {
    color: black;
    text-decoration: none;
    opacity: 0.6;
    font-size: 12px;
}

.links_footer li a:hover {
    opacity: 1;
}

.derechos {
    color: #666;
    font-size: 12px;  
}